$font-sahel: Sahel, Tahoma;
$color-primary: #eb5d7e;
$color-secondary: #07bba3;
$color-tertiary: #808080;
$bg-color: #f9f8f4;
$black: black;

@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
}